/* ==========================================================================
   DIRECT BODY OVERRIDES (Bypasses the 'primary: custom' restriction)
   ========================================================================== */

/* 1. DEFAULT HOMEPAGE PALETTE */
body {
    --md-primary-fg-color: #00D4FF !important;
    --md-primary-fg-color--light: #7ce9ffc9 !important;
    --md-primary-fg-color--dark: #00333d !important;
    --custom-text-color: #1e293b;
}

/* 2. CELESTA DIRECTORY CONDITIONAL SWAP */
html:has(a.md-nav__link--active[href*="celesta-public-archive"]) body {
    --md-primary-fg-color: #3b6596 !important;
    --md-primary-fg-color--light: #6d85a0c9 !important;
    --md-primary-fg-color--dark: #1e344d !important;
    --custom-text-color: #9abbc4;
}

/* 3. STELLAR DIRECTORY CONDITIONAL SWAP */
html:has(a.md-nav__link--active[href*="stellar-republic-database"]) body {
    --md-primary-fg-color: #FF0048 !important;
    --md-primary-fg-color--light: #c27a8fc9 !important;
    --md-primary-fg-color--dark: #410012 !important;
    --custom-text-color: #ffffff;
}

/* ==========================================================================
   4. STRUCTURAL INTERFACE ELEMENTS
   ========================================================================== */
.md-header__topic,
.md-tabs__link,
.md-search__input::placeholder,
.md-search__icon,
.md-header__button {
    color: var(--custom-text-color) !important;
}
